@import "fonts/Gilroy/stylesheet.css";
@import "variables";

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	overflow-x: hidden;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: radial-gradient(77.86% 50.06% at 50% 49.94%, rgba(85, 85, 85, 0.5) 0%, rgba(39, 39, 39, 0) 100%), #272727;
	color: white;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Gilroy';
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	
	@media (min-width: 768px) {
		font-size: 30px;
		line-height: 34px;
	}
	
	@media (min-width: 1024px) {
		font-size: 40px;
		line-height: 46px;
	}
	
	@media (min-width: 1440px) {
		font-size: 60px;
		line-height: 69px;
	}
}

.container {
	padding: 0 15px;
	
	@media(min-width: 768px) {
		padding: 0 48px;
	}
	
	@media(min-width: 1024px) {
		max-width: 1270px;
		margin: 0 auto;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	position: relative;
	
	&-logo {
		position: absolute;
		bottom: -45px;
		left: 50%;
		transform: translateX(-50%);
		width: 90px;
		z-index: 10;
	}
	
	&-wrapper {
		background: $gray;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	
	&-menu {
		transform: translateX(100%);
		position: fixed;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		top: 67px;
		left: 0;
		width: 100%;
		height: calc(100vh - 67px);
		background: $gray;
		z-index: 1;
		transition: $tr;
		
		
		&.active {
			transform: translateX(0);
			padding: 95px 0 50px;
		}
	}
	
	&-list {
		text-align: center;
		font-size: 30px;
		line-height: 35px;
		
		&__item {
			display: block;
			margin-bottom: 30px;
		}
	}
	
	&-contacts {
		display: flex;
		
		&__item {
			display: flex;
			align-items: center;
			margin-left: 30px;
			
			& svg {
				margin-right: 10px;
			}
		}
		
		&__item:first-child {
			margin: 0;
		}
	}
	
	&-btn {
		position: relative;
		width: 30px;
		height: 16px;
		cursor: pointer;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 2px;
			background: white;
			width: 100%;
			transition: $tr;
		}
		
		& span {
			position: absolute;
			top: 50%;
			height: 2px;
			background: white;
			width: 100%;
			transform: translate(0, -50%);
			opacity: 1;
			transition: $tr;
		}
		
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background: white;
			width: 100%;
			transition: $tr;
		}
		
		&.active {
			&:before {
				transform: rotate(-45deg);
				top: 38%;
			}
			
			& span {
				opacity: 0;
			}
			
			&:after {
				bottom: 50%;
				transform: rotate(45deg);
			}
		}
	}
}

@media (min-width: 1024px) {
	.header {
		justify-content: left;
		
		&-menu {
			transform: translateX(0);
			position: relative;
			top: auto;
			left: auto;
			height: auto;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		
		&-list {
			display: flex;
			width: 100%;
			justify-content: space-between;
			font-size: 16px;
			line-height: 18px;
			
			&__item {
				margin: 0 0 0 30px;
			}
			
			& li:nth-child(4) {
				margin-left: auto;
			}
		}
		
		&-contacts {
			display: flex;
			
			&__item {
				margin-left: 30px;
				white-space: nowrap;
			}
			
			&__item:first-child {
				margin-left: 30px;
			}
		}
		
		&-btn {
			display: none;
		}
	}
}

.home-banner {
	width: 100vw;
	height: 54vw;
	background: url('../img/banner.jpg') center no-repeat;
	background-size: cover;
	
	& .container {
		height: 100%;
	}
	
	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: right;
		align-items: center;
	}
	
	&__title {
		text-transform: uppercase;
		max-width: min-content;
		font-family: "Times New Roman";
		text-align: right;
	}
	
	&__img {
		margin-left: 10px;
		width: 14vw;
		height: 14vw;
		max-height: 144px;
		max-width: 144px;
	}
}


@media (min-width: 768px) {
	.home-banner {
		&__img {
			margin-left: 20px;
		}
	}
}

@media (min-width: 1024px) {
	.home-banner {
		height: calc(100vh - 67px);
		max-height: 1080px;
		
		&__img {
			margin-left: 30px;
		}
	}
}
