@charset "UTF-8";
@import "fonts/Gilroy/stylesheet.css";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Gilroy";
}

main {
  flex: 1 1 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input {
  background: transparent;
  border: 1px solid #FFFFFF;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  outline: none;
}
.input::-moz-placeholder {
  color: white;
}
.input::placeholder {
  color: white;
}

.btn {
  background: transparent;
  border: 1px solid #FFFFFF;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.6s ease;
}
.btn:hover {
  background: #272727;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 60px;
    line-height: 69px;
  }
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 36px;
    line-height: 41px;
  }
}

.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1270px;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
.header-logo {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  z-index: 10;
}
.header-wrapper {
  background: #272727;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-menu {
  transform: translateX(100%);
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  top: 67px;
  left: 0;
  width: 100%;
  height: calc(100vh - 67px);
  background: #272727;
  z-index: 1;
  transition: all 0.6s ease;
}
.header-menu.active {
  transform: translateX(0);
  padding: 95px 0 50px;
}
.header-list {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
}
.header-list__item {
  display: block;
  margin-bottom: 30px;
}
.header-contacts {
  display: flex;
}
.header-contacts__item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-contacts__item svg {
  margin-right: 10px;
}
.header-contacts__item:first-child {
  margin: 0;
}
.header-btn {
  position: relative;
  width: 30px;
  height: 16px;
  cursor: pointer;
}
.header-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: white;
  width: 100%;
  transition: all 0.6s ease;
}
.header-btn span {
  position: absolute;
  top: 50%;
  height: 2px;
  background: white;
  width: 100%;
  transform: translate(0, -50%);
  opacity: 1;
  transition: all 0.6s ease;
}
.header-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: white;
  width: 100%;
  transition: all 0.6s ease;
}
.header-btn.active:before {
  transform: rotate(-45deg);
  top: 38%;
}
.header-btn.active span {
  opacity: 0;
}
.header-btn.active:after {
  bottom: 50%;
  transform: rotate(45deg);
}

@media (min-width: 1024px) {
  .header {
    justify-content: left;
  }
  .header-menu {
    transform: translateX(0);
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .header-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
  }
  .header-list__item {
    margin: 0 0 0 30px;
  }
  .header-list li:nth-child(4) {
    margin-left: auto;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts__item {
    margin-left: 30px;
    white-space: nowrap;
  }
  .header-contacts__item:first-child {
    margin-left: 30px;
  }
  .header-btn {
    display: none;
  }
}
.home-banner {
  width: 100vw;
  height: 54vw;
  background: url("../img/banner.jpg") center no-repeat;
  background-size: cover;
}
.home-banner .container {
  height: 100%;
}
.home-banner__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.home-banner__title {
  text-transform: uppercase;
  max-width: -moz-min-content;
  max-width: min-content;
  font-family: "Times New Roman";
  text-align: right;
}
.home-banner__img {
  margin-left: 10px;
  width: 14vw;
  height: 14vw;
  max-height: 144px;
  max-width: 144px;
}

@media (min-width: 768px) {
  .home-banner__img {
    margin-left: 20px;
  }
}
@media (min-width: 1024px) {
  .home-banner {
    height: calc(100vh - 67px);
    max-height: 1080px;
  }
  .home-banner__img {
    margin-left: 30px;
  }
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 25px 0 0;
  display: flex;
  justify-content: center;
}
.footer-top {
  height: 63px;
  width: 100%;
  background: #272727;
}
.footer-wrapper {
  background: #000000;
  padding: 70px 0 20px;
}
.footer-logo {
  display: block;
  width: 66px;
  margin-right: 30px;
}
.footer-contacts__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 6px;
}
.footer-contacts__address {
  margin-bottom: 20px;
  text-decoration: underline;
}
.footer-links__wrapper {
  margin-top: 40px;
}
.footer-links__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}
.footer-partnership__wrapper {
  margin-top: 40px;
}
.footer-partnership__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}
.footer-socials {
  display: flex;
}
.footer-socials__wrapper {
  margin-top: 40px;
}
.footer-socials__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}
.footer-socials__item {
  margin-right: 15px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 130px;
}
.footer-bottom__left {
  display: flex;
  flex-direction: column;
}
.footer-bottom__item {
  margin-bottom: 20px;
}
.footer-bottom__item:first-child {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}
.footer-bottom__right span {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer-list__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer-links__wrapper {
    margin-top: 30px;
  }
  .footer-partnership__wrapper {
    margin-top: 0;
  }
  .footer-socials__wrapper {
    margin-top: 30px;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-bottom__left {
    flex-direction: row;
  }
  .footer-bottom__item:first-child {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .footer-list:first-child {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .footer-links__wrapper {
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .footer-list:last-child {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .footer-socials__wrapper {
    margin-top: 0;
  }
}
.request-banner__wrapper {
  padding: 30px 0;
  background: linear-gradient(91.86deg, #EDF2F4 -58.35%, #415A77 11.21%, #0D1B2A 94.75%);
}
.request-banner__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  font-family: "Times New Roman";
  margin-bottom: 20px;
  text-transform: uppercase;
}
.request-banner .input {
  display: block;
  margin-bottom: 10px;
}
.request-banner .btn {
  display: block;
  margin-bottom: 10px;
}
.request-banner__content-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.request-banner__content-checkbox {
  display: flex;
}
.request-banner__content-checkbox input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.request-banner__content-checkbox input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
.request-banner__content-checkbox input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #415A77;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 8px;
}
.request-banner__content-checkbox span {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .request-banner__title {
    font-size: 46px;
    line-height: 53px;
  }
  .request-banner__content-btns {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .request-banner .input {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .request-banner .btn {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .request-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .request-banner__title {
    width: 50%;
    margin-right: 15px;
    text-align: left;
    max-width: 550px;
  }
  .request-banner__content {
    width: 50%;
  }
  .request-banner__content-btns {
    display: flex;
    flex-direction: column;
  }
  .request-banner .input {
    width: 100%;
  }
  .request-banner .btn {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .request-banner {
    padding: 50px 0;
  }
  .request-banner__title {
    width: 60%;
  }
  .request-banner__content {
    width: 40%;
  }
  .request-banner__content-btns {
    flex-direction: row;
  }
}
.home-swiper__wrapper {
  color: black;
  padding: 30px 0;
}
.home-swiper__text {
  margin-bottom: 60px;
  text-align: center;
}
.home-swiper__text-title {
  margin-bottom: 20px;
  font-family: "Times New Roman";
}
.home-swiper__text-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}
.home-swiper__content {
  padding-left: 15px;
}
.home-swiper__buttons-wrapper .btn {
  display: none !important;
}
.home-swiper__buttons-item {
  position: relative;
  font-family: "Times New Roman";
  width: -moz-min-content;
  width: min-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  height: 20px;
  margin-left: 40px;
  margin-bottom: 15px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.home-swiper__buttons-item:before {
  transition: all 0.6s ease;
  content: "";
  position: absolute;
  top: 4px;
  left: -30px;
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
}
.home-swiper__buttons-item.active {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.home-swiper__buttons-item.active:before {
  background: white;
  border: 2px solid #000000;
  width: 20px;
  height: 20px;
  top: 2px;
  left: -35px;
}
.home-swiper__items {
  position: relative;
  height: 80vw;
  max-height: 470px;
  margin: 30px 0 0;
}
.home-swiper__items-el {
  opacity: 0;
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 15px);
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
}
.home-swiper__items-el.active {
  opacity: 1;
  pointer-events: auto;
}
.home-swiper__items-el .swiper-wrapper {
  align-items: center;
}
.home-swiper__items-el .swiper-slide {
  display: flex;
  align-items: center;
  color: white;
}
.home-swiper__items-el .swiper-slide-content {
  position: relative;
}
.home-swiper__items-el .swiper-slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px 20px;
}
.home-swiper__items-el .swiper-slide-text svg {
  height: 12px;
  width: -moz-min-content;
  width: min-content;
}
.home-swiper__items-el .swiper-slide-text-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  filter: blur(10px);
  border-radius: 10px;
  z-index: 1;
}
.home-swiper__items-el .swiper-slide-text-brand, .home-swiper__items-el .swiper-slide-text-description {
  position: relative;
  z-index: 2;
}
.home-swiper__items-el .swiper-slide-text-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.home-swiper .btn {
  display: block;
  color: inherit;
  border-color: black;
  width: calc(100% - 30px);
  text-align: center;
  margin: 30px 15px 0;
}
.home-swiper .btn:hover {
  color: white;
}

@media (min-width: 768px) {
  .home-swiper__buttons-wrapper .btn {
    display: block !important;
    width: -moz-min-content;
    width: min-content;
    white-space: nowrap;
  }
  .home-swiper__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-swiper__items-wrapper {
    width: 30%;
  }
  .home-swiper .btn {
    display: none;
  }
}